mixin advanCard(icon, title, text)
	.advantages_card.services_card.swiper-slide
		.services_card__icon
			+imgSvg(icon, '', 'image')
		p.services_card__title!= title
		p.services_card__text!= text

section#advantages.section.advantages
	.advantages__container.container 
		.advantages__content 

			.section_block
				.section_block__caption Преимущества
				h2.section_block__title Возьмемся #[br.desktop] за дело #[strong любой сложности]
				p.section_block__text.section_block__text--black Обладаем всем необходимым, чтобы квалифицированно реализовать #[br.desktop] проект любой степени сложности для своих клиентов

			
			.advantages__gallery 
				a.advantages__skip_btn(href="#tech", data-anchor="tech") Пропустить

				.advantages__slider.slider.swiper 
					.swiper-wrapper 
						+advanCard(`${assetsPath}/img/advan_icon_1.svg`, 'Выполняем строительство <br> дома «под ключ»', 'Берем на себя все этапы строительства и любые сложности. Клиенту доставляется полностью готовый дом, готовый к проживанию')
						+advanCard(`${assetsPath}/img/advan_icon_2.svg`, 'Имеем большой опыт в сфере строительства', 'Берем на себя все этапы строительства и любые сложности. Клиенту доставляется полностью готовый дом, готовый к проживанию')
						+advanCard(`${assetsPath}/img/advan_icon_3.svg`, 'Имеем собственный <br> автопарк техники', 'Берем на себя все этапы строительства и любые сложности. Клиенту доставляется полностью готовый дом, готовый к проживанию')
						+advanCard(`${assetsPath}/img/advan_icon_4.svg`, 'Экономия на аренде <br> и логистике', 'Берем на себя все этапы строительства и любые сложности. Клиенту доставляется полностью готовый дом, готовый к проживанию')